<app-header></app-header>

<div class="receta-container">
  <div class="top row">
    <div class="left col-lg-6 col-sm-12 col-xs-12">
      <div class="name">{{ food?.name }}</div>
      <div class="cover">
        <img [src]="food?.image" alt="">
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12 py-5">
      <h4>Ingredientes</h4>
      <ul>
        <li *ngFor="let ingrediente of food?.ingredientes">
            <span>{{ingrediente}}</span>
        </li>
      </ul>
      <h4>Pasos</h4>
      <ol>
        <li *ngFor="let paso of food?.pasos">
            <span>{{paso}}</span>
        </li>
      </ol>
    </div>
  </div>
</div>
